

  #top-bar {
    background: rgb(8, 115, 183);
    height: 180px;
  }
  #bottom-bar {
    margin-top: 140px;
    background: rgb(8, 115, 183);
    padding-bottom: 30px;
  }
  #peronal_logo {
    margin-top: 500px;
  }
  #top-row {
    border: 50px transparent;
  }
  
  .top-text{
    margin: right 200px top 50px;
  }
  .top-subheader{
    margin: left 200px top 50px;
    padding-left: 120px;
  }
  #site-title {
    font-family: Georgia, serif;
    color: rgb(252, 244, 233);
    padding-left: 90px;
    
  }
  #sub-title {
    font-family: Georgia, serif;
    color: rgb(252, 244, 233);
    padding-left: 220px;
  }
  
  #lower-logo {
    height: 175px;
  }
  #picture-container {
    display: flex;
    justify-content: center;
  }
  #about-me {
    font-family: Georgia, serif;
  }
  #policies {
    font-family: Georgia, serif;
  }
  #what-is {
    font-family: Georgia, serif;
  }
  .nav-link{
    font-family: Georgia, serif;
  }
  .basic-text{
    font-family: Georgia, serif;
    font-size: large;
  }