

  #top-bar {
    background: rgb(8, 115, 183);
    height: 180px;
  }
  #bottom-bar {
    margin-top: 140px;
    background: rgb(8, 115, 183);
    padding-bottom: 30px;
  }
  #peronal_logo {
    margin-top: 500px;
  }
  #top-row {
    border: 50px transparent;
  }
  
  .top-text{
    margin: right 200px top 50px;
  }
  .top-subheader{
    margin: left 200px top 50px;
    text-align: center;
  }
  #site-title {
    font-family: Georgia, serif;
    color: rgb(252, 244, 233);
    padding-left: 90px;
    font-size: 2.5em;
    
  }
  #sub-title {
    font-family: Georgia, serif;
    color: rgb(252, 244, 233);

  }
  
  #lower-logo {
    height: 175px;
  }
  #picture-container {
    display: flex;
    justify-content: center;
  }
  #about-me {
    font-family: Georgia, serif;
  }
  #policies {
    font-family: Georgia, serif;
  }
  #what-is {
    font-family: Georgia, serif;
  }
  .nav-link{
    font-family: Georgia, serif;
  }
  .basic-text{
    font-family: Georgia, serif;
    font-size: large;
  }
  #List-Title{
    font-family: Georgia, serif;
  }
  #for-students{
    font-family: Georgia, serif;
  }
  
  label {
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
    font-family: Georgia, serif;
  }

  .button {
    padding-left: 55px;
    padding-top: 10px;
  }

  #login-form-list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
  }

  .login-list-element {
    display: flex;
    padding-bottom: 40px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    max-width: 400px;
  }

  .login-form-container {
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #col-containing-form {
    justify-content: center;
  }

  .form-element-container {
    display: table-cell;
    text-align: center;
    justify-content: center;
    justify-content: center;
    align-items: center;
  }

  #login-form {
    text-align: center;
    justify-content: center;
  }

  #FormContainer {
    text-align: center;
  }

  #enter-Username, #password-enter {
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgb(8, 115, 183);
    outline: none;
    font-size: 14px;
  }

    .submit-button {
      background-color: rgb(8, 115, 183);
      color: rgb(252, 244, 233);
      border-radius: 30px;
      width: 150px;
      font-family:  Georgia, serif;
      font-size: 18px;
      
    }


  #login-title {
    font-family: Georgia, serif;
    padding-bottom: 25px;
    padding-top: 35px;
  } 

  #response-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#response-container {
    background-color: rgba(109, 222, 127, 0.811);
    border: 1px solid rgb(1, 113, 1); 
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    height: 30px;
}

  #success-text {
    text-align: center;
    font-size: 1.3em;
    font-family: Georgia, serif;
    color: rgb(1, 113, 1);
    justify-content: center;
    align-items: center;
    display: block;
  }


  .NavButton {
    font-family: Georgia, serif;
    font-weight: 200;
    font-size: 1.2em;
    border: none;
    display: flex;
  }

  .ActiveNavButton {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
  }

  .calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh; 
  }
  .react-calendar {
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
   
  .react-calendar__navigation button {
    color: rgb(8, 115, 183);
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
  }
   
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
  }
  .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
  }


  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: rgb(8, 115, 183);
    border-radius: 6px;
  }
   
  .react-calendar__tile--now {
    background: #d4a71333;
    border-radius: 6px;
    font-weight: bold;
    color: rgb(8, 115, 183);
  }
   
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #d4a71333;
    border-radius: 6px;
    font-weight: bold;
    color: rgb(8, 115, 183);
  }
   
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
  }
   
  .react-calendar__tile--active {
    background: rgb(8, 115, 183);
    border-radius: 6px;
    font-weight: bold;
    color: white;
  }
   
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: rgb(8, 115, 183);
    color: white;
  }
   
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
  }
   
  .react-calendar__tile--range {
    background: #f8f8fa;
    color: rgb(8, 115, 183);
    border-radius: 0;
  }
   
  .react-calendar__tile--rangeStart {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6x;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: rgb(8, 115, 183);
    color: white;
  }
   
  .react-calendar__tile--rangeEnd {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: rgb(8, 115, 183);
    color: white;
  }